.flatpickr-calendar {
    background: inherit;
}

.flatpickr-month {
    background-color: #0275d8;
    padding-bottom: 2px;
    color: white;
}

.flatpickr-prev-month {
    display: inline !important;
    float: left !important;
    padding-left: 4px;
}
.flatpickr-next-month {
    display: inline !important;
    float: right !important;
    padding-right: 4px;
}